:root{
    --button_gradient: radial-gradient(circle, 
        #e01e37,
        #ce4257,
        #4f000b);
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

/* Maintaining div aspect ratio (responsive): https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css */
#button{
    /* TODO: Adjust height and width so that it is always a uniform circle */
    min-width: 5%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: var(--button_gradient);
    opacity: 0;
}

#button:hover {
    opacity: 1;
}

#button:after{
    padding-bottom: 100%;
}

#user_pic{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}