*{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

html, body{
    margin: 0px;
    padding: 0px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    background: url("https://wallpaperaccess.com/full/2217435.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#title_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#game_wrapper{
    justify-content: flex-end;
    overflow: hidden;
}

#user_wrapper{
    height: 10%;
    width: 100%;
    background-color: rgba(255,237,101, 0.4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#title{
    text-align: center;
    font-size: 10vh;
}

#instruc{
    text-align: center;
}

#asteroid{
    position: absolute;
    font-size: 15px;
    background-image: url("https://thumbs.dreamstime.com/b/rough-meteorite-texture-beige-color-background-has-many-small-holes-its-surface-grunge-dirty-96590981.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#user_str{
    text-align: center;
    width: 44vh;
    font-size: 4vh;
}

#game_over{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    font-size: 4vh;
}