*{
    font-family: 'Press Start 2P', cursive;
    color: white;
}

html, body{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    height: 100%;
    width: 100%;
    background: url("https://wallpaperaccess.com/full/2217435.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title_wrapper{
    justify-content: center;
}

#game_wrapper{
    justify-content: flex-end;
    /* overflow: hidden; */
}

#title{
    text-align: center;
    font-size: 10vh;
}

#asteroid{
    position: absolute;
    font-size: 15px;
}

#user_str{
    font-size: 4vh;
}